<div>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <a class="brand" data-bind="attr: { href: router.navigationModel()[0].hash }">
                <span>Blister</span>
            </a>
            <ul class="nav" data-bind="foreach: router.navigationModel">
                <li data-bind="css: { active: isActive }">
                    <a data-bind="attr: { href: hash }, html: title"></a>
                </li>
            </ul>

            <form class="navbar-form pull-right control-group" data-bind="submit: login, visible: !logged_in(), css: { error: login_attempts() > 0 }">
              <input type="text" class="span2" placeholder="Username" data-bind="value: username">
              <input type="password" class="span2" placeholder="Password" data-bind="value: password">
              <button type="submit" class="btn">Login</button>
            </form>

            <ul class="nav pull-right" data-bind="visible: logged_in">
                <li>
                   <p class="navbar-text">Logged in as: <a href="#" data-bind="text: username"></a></p>
                </li>
                <li>
                    <a href="#" data-bind="click: logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="container-fluid page-host" data-bind="router: { transition:'entrance', cacheViews:true }"></div>
</div>